
.SectionCA{
    margin: 0;
    padding: 0;
    background-color: rgb(221, 218, 218);
    /* width: 100vw; */
    height: 80vh;
    overflow: hidden;
}
.innerSectionC{
    margin-left: 5vw;
    border-radius: 2vh;
    background-color: white;
    height: 36vw;
    width: 50vw;
    overflow: hidden;
}
.upperC{
    padding:2vw 2vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paraC{
    color: grey;
}
.chartIcon,.tableIcon{
    height: 3vw;
    width: 3vw;
    border: 2px solid rgb(223, 218, 218);
    display: flex;
    justify-content: center;
    align-content: center;
    /* padding: 1vw 1vw; */
}
.chartIcon:hover,.tableIcon:hover{
    background-color: rgb(231, 229, 229);
}
.line{
    height: 0.25vh;
    width: 100%;
    background-color: rgb(189, 183, 183);
}

@media screen and (max-width:900px){
    .SectionCA{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .innerSectionC{
        margin: 0;
        width: 90vw;
        height: 70vw;
    }
    .chartIcon,.tableIcon{
        border:none;
        margin: 0vh 1vw 2vh 2vw;
    }
}
@media screen and (max-width:600){
    .chartIcon,.tableIcon{
        height: 10vh;
        width: 10vw;
    }
}