.vppoverview{
    margin: 0;
    padding: 0;
    height: 12vh;
    width: 100vw;
    overflow: hidden;
    color: grey;
    /* background-color: aqua; */
    padding: 2vh 5vw;
    overflow: hidden;
    /* font-size: 20vh; */
}